<section class="w-full">
  <div class="container mx-auto px-4">
    <div>
      <code class="text-[#6eada8]">&lt;h1&gt;</code>
      <h1 class="text-4xl text-white block">
        Hey<br> I'm <span class="text-[#10ffde]">Mahfouz</span>,<br> Full-Stack Developer
      </h1> <code class="text-[#6eada8]">&lt;/h1&gt;</code>
      <br>
      <br>
      <code class="text-[#6eada8]">&lt;p&gt;</code>
      <p class="text-white font-inconsolata">
        I help businesses grow by crafting amazing web experiences. If you're looking for a developer that gets stuff done, let's talk.
      </p><code class="text-[#6eada8]">&lt;/p&gt;</code>
      <br>
      <br>
      <!-- Let's Talk Section -->
      <div class="flex items-center space-x-3">
        <h2 class="text-3xl text-[#10ffde]">Let's Talk</h2>
        <div class="h-8 w-8 bg-gray-500 rounded-full flex items-center justify-center mr-2">
          <img class="p-1 text-[#10ffde]" ngSrc="assets/svg/email.svg" alt="message icon" height="30" width="30">
        </div>
      </div>
    </div>
  </div>
</section>
