<app-navbar></app-navbar>
<section class="bg-gray-800 h-full justify-center ">
  <h1
    class="text-3xl md:text-4xl pt-20 lg:text-5xl xl:text-6xl font-black text-white text-center pb-10 mb-6 md:mb-8 lg:mb-10 xl:mb-12">
    Certifications</h1>
  <div class="flex flex-col justify-center items-center space-y-24 pb-10">
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">Google Project Management</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c1.png" height="859" width="1094"
           alt="Google Project Management">
    </div>
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">Meta Back-End Developer</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c2.png" height="859" width="1094"
           alt="Meta Back-End Developer">
    </div>
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">AWS Cloud Solutions
        Architect</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c3.png" height="859" width="1094"
           alt="AWS Cloud Solutions Architect">
    </div>
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">C# Certification</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c4.png" height="859" width="1094"
           alt="C# Certification">
    </div>
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">SQL (Advanced) Certificate</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c5.png" height="859" width="1094"
           alt="SQL (Advanced) Certificate">
    </div>
    <div class="space-y-6 justify-center">
      <h1 class="text-white text-center text-4xl font-inconsolata font-bold">Problem Solving (Intermediate) Certificate</h1>
      <img class="rounded-2xl transform hover:scale-105 transition-all duration-300 object-fill w-full md:w-[800px] md:h-[600px]"
           ngSrc="assets/images/c6.png" height="859" width="1094"
           alt="Problem Solving (Intermediate) Certificate">
    </div>
  </div>

</section>
<app-footer></app-footer>
