<section
  class="flex flex-col p-4 bg-[#1a1e23] w-[200px] h-[350px] transform hover:scale-110 transition-all duration-300 rounded-[50px] shadow-2xl space-y-10 justify-center">
  <div class="flex justify-center items-center space-x-2.5">
    <span class="text-6xl text-[#10ffde]">7</span>
    <span class="text-xl text-white">Programming Languages</span>
  </div>
  <div class="flex justify-center items-center space-x-2.5">
    <span class="text-6xl text-[#10ffde]">6</span>
    <span class="text-xl text-white">Development Tools</span>
  </div>
  <div class="flex justify-center items-center space-x-2.5">
    <span class="text-6xl text-[#10ffde]">5</span>
    <span class="text-xl text-white">Years Of Experience</span>
  </div>
</section>
