<app-navbar></app-navbar>
<section class="bg-gray-800 h-full ">
  <h1
    class="text-3xl md:text-4xl pt-20 lg:text-5xl xl:text-6xl font-black text-white text-center pb-10 mb-6 md:mb-8 lg:mb-10 xl:mb-12">
    Previous Experience</h1>
  <div class="flex flex-col pb-10 px-3 justify-center items-center">
    <div class="justify-start  space-y-10">
      <div class="flex space-x-6">
        <div class="flex flex-col items-center space-y-2">
          <div class="dot transform hover:scale-150 transition-all duration-300"></div>
          <div class="border-l-2 border-white h-full"></div>
        </div>
        <div class="space-y-4">
          <div>
            <h1 class="font-inconsolata font-bold text-2xl text-white">SOFTWARE DEVELOPER & DIGITAL MARKETER</h1>
            <h2 class="font-inconsolata font-bold text-xl text-white">Turbo Plus Car Rental , Dubai - UAE</h2>
            <h3 class="font-inconsolata  text-xl text-white">2023-7-26 To 2023-12-10</h3>
          </div>
          <div>
            <app-list-item
              text="Spearheaded the development of the company's website and mobile application."></app-list-item>
            <app-list-item
              text="Utilized ASP.NET Core, Angular 16, and Flutter to ensure a seamless user experience."></app-list-item>
            <app-list-item text="Executed successful digital marketing campaigns for car promotions."></app-list-item>
            <app-list-item
              text="Crafted engaging advertisements across social media, Google, and Meta platforms."></app-list-item>
            <app-list-item
              text="Demonstrated strong organizational and project management skills in both technological and marketing aspects."></app-list-item>
          </div>
        </div>
      </div>
      <div class="flex space-x-6">
        <div class="flex flex-col items-center space-y-2">
          <div class="dot transform hover:scale-150 transition-all duration-300"></div>
          <div class="border-l-2 border-white h-full"></div>
        </div>
        <div class="space-y-4">
          <div>
            <h1 class="font-inconsolata font-bold text-2xl text-white">FULL STACK DEVELOPER</h1>
            <h2 class="font-inconsolata font-bold text-xl text-white">Health In Touch , Dubai - UAE</h2>
            <h3 class="font-inconsolata  text-xl text-white">2022-2-26 To 2023-3-1</h3>
          </div>
          <div>
            <app-list-item
              text="Developing and mange medical web application in an agile team based on Asp.net core andangular."></app-list-item>
            <app-list-item text="Built the logic for a streamlined ad-serving platform that scaled."></app-list-item>
            <app-list-item text="Create and Developing Databases using SQL Server and MySQL."></app-list-item>
            <app-list-item
              text="Design and develop an efficient automation test project using Xunit and Integration testing."></app-list-item>
          </div>
        </div>
      </div>

      <div class="flex space-x-6">
        <div class="flex flex-col items-center space-y-2">
          <div class="dot transform hover:scale-150 transition-all duration-300"></div>
          <div class="border-l-2 border-white h-full"></div>
        </div>
        <div class="space-y-4">
          <div>
            <h1 class="font-inconsolata font-bold text-2xl text-white">BACK END DEVELOPER</h1>
            <h2 class="font-inconsolata font-bold text-xl text-white">Craft Code , Aleppo - Syria</h2>
            <h3 class="font-inconsolata  text-xl text-white">2022-2-26 To 2023-3-1</h3>
          </div>
          <div>
            <app-list-item
              text="Developing and Mange Web Application in an agile team based on Asp.net core and React."></app-list-item>
            <app-list-item text="Built the logic for a streamlined ad-serving platform that scaled."></app-list-item>
            <app-list-item text="Create and Developing Databases using SQL Server and MySQL."></app-list-item>
            <app-list-item
              text="Design and develop an efficient automation test project using Xunit and Integration testing."></app-list-item>
          </div>
        </div>
      </div>


      <div class="flex space-x-6">
        <div class="flex flex-col items-center space-y-2">
          <div class="dot transform hover:scale-150 transition-all duration-300"></div>
          <div class="border-l-2 border-white h-full"></div>
        </div>
        <div class="space-y-4">
          <div>
            <h1 class="font-inconsolata font-bold text-2xl text-white">FULL STACK MOBILE DEVELOPER</h1>
            <h2 class="font-inconsolata font-bold text-xl text-white">Levant , Damascus - Syria</h2>
            <h3 class="font-inconsolata  text-xl text-white">2021-2-26 To 2022-3-1</h3>
          </div>
          <div>
            <app-list-item
              text="Create and Develop Applications usnig flutter and asp.net core with latest toolsand packages."></app-list-item>
            <app-list-item
              text="Implementation interactive designs that were taken from UI/UX designers."></app-list-item>
            <app-list-item text="Mange CI/CD using Code Magic."></app-list-item>
            <app-list-item
              text="Demonstrated strong organizational and project management skills in both technological and marketing aspects."></app-list-item>
          </div>
        </div>
      </div>
      <div class="flex space-x-6">
        <div class="flex flex-col items-center space-y-2">
          <div class="dot transform hover:scale-150 transition-all duration-300"></div>
          <div class="border-l-2 border-white h-full"></div>
        </div>
        <div class="space-y-4">
          <div>
            <h1 class="font-inconsolata font-bold text-2xl text-white">FULL STACK DEVELOPER</h1>
            <h2 class="font-inconsolata font-bold text-xl text-white">CodeX , Damascus - Syria</h2>
            <h3 class="font-inconsolata  text-xl text-white">2020-1-16 To 2021-2-15</h3>
          </div>
          <div>
            <app-list-item
              text="Developing and Mange Web Application using Asp.net core and SQL Server."></app-list-item>
            <app-list-item text="Design and develop a UI/UX using WPF and XAML."></app-list-item>
            <app-list-item text="solving a lot of complex problems and challenges."></app-list-item>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
